{% extends 'layout.html' %}

{% block js %}
<script type='text/javascript' charset="utf-8">
$(function() {

    var socket = io.connect('http://' + document.domain + ':' + location.port);
    socket.on('connect', function(m) {
        socket.emit('connected',{});
    });
    socket.on('message', function(m) {
        $('div#fics pre').prepend(m.data).fadeIn();
    });
    socket.on('exception', function(m) {
        alert('exception, disconnecting: ' + m.data);
        socket.disconnect();
    });

    $('form').submit(function(e){
        e.preventDefault();
        socket.emit('command', {data: $(this).find('input').val()});
    });

    var board = ChessBoard('board', {
        'position'      : 'start',
        'pieceTheme'    : '/static/img/chesspieces/wikipedia/{piece}.png'
    });
});

</script>

<form action='' method=POST role=post>
    <input type=text name=send id=send/><button type=submit>Send</button>
</form>
<div id=fics style='height:100px;margin-bottom:100px'>
    <pre></pre>
</div>

<div id='board' style='width: 400px'></div>

{% endblock %}
{% block footer %}
{% endblock %}
