{% extends 'layout.html' %}

{% block js %}
<script type='text/javascript'>
$(function() {
    $('form').submit(function(e){
        e.preventDefault();
        $.ajax({
            url: '{{ url_for("login")}}',
            type: 'POST',
            dataType: 'json',
            data: $(this).serialize(),
            success: function(data) {
                console.log(data);
            }
        });
    });
});
</script>
{% endblock %}

{% block body %}

   <div class="container">

       <form class="form-signin" action='{{ url_for('login') }}' method=post role=post>
	  	<h2 class="form-signin-heading">Login (freechess.org)</h2>
		<label for="username" class="sr-only">username</label>
        <input name=username type="username" id="username" class="form-control" placeholder="username" required autofocus>
		<label for="password" class="sr-only">password</label>
        <input name=password type="password" id="password" class="form-control" placeholder="password" required>
        <!--<div class="checkbox">
          <label>
			  <input type="checkbox" value="remember">Remember me
          </label>
		  </div>-->
		<button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
      </form>

    </div>

{% endblock %}
